apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://api.cluster-c9vs9.sandbox3266.opentlc.com:6443
  name: api-cluster-c9vs9-sandbox3266-opentlc-com:6443
- cluster:
    insecure-skip-tls-verify: true
    server: https://api.cluster-c9vs9.sandbox3266.opentlc.com:6443
  name: ocp-cluster
contexts:
- context:
    cluster: ocp-cluster
    user: fajar
  name: fajar-ocp
- context:
    cluster: api-cluster-c9vs9-sandbox3266-opentlc-com:6443
    namespace: online-boutiques
    user: fajar/api-cluster-c9vs9-sandbox3266-opentlc-com:6443
  name: online-boutiques/api-cluster-c9vs9-sandbox3266-opentlc-com:6443/fajar
current-context: online-boutiques/api-cluster-c9vs9-sandbox3266-opentlc-com:6443/fajar
kind: Config
preferences: {}
users:
- name: fajar
  user:
    client-certificate-data: ''
    client-key-data: ''
- name: fajar/api-cluster-c9vs9-sandbox3266-opentlc-com:6443
  user:
    client-certificate-data: ''
    client-key-data: ''
