apiVersion: v1
clusters:
- cluster:
    server: https://api.cluster-44lgm.sandbox457.opentlc.com:6443
  name: ocp-lab
contexts:
- context:
    cluster: ocp-lab
    namespace: auth-tls
    user: health-robot
  name: health-robot
current-context: ""
kind: Config
preferences: {}
users:
- name: health-token
  user:
    token: ''
