apiVersion: v1
baseDomain: ocp.fajjjar.my.id
compute:
  - architecture: amd64
    hyperthreading: Enabled
    name: worker
    platform:
      aws:
        rootVolume:
          size: 100
          type: gp3
        type: m5.4xlarge
        metadataService:
          authentication: Required
        zones:
          - ap-southeast-1a
          - ap-southeast-1b
          - ap-southeast-1c
    replicas: 2
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform:
    aws:
      rootVolume:
        size: 100
        type: gp3
      type: m5.2xlarge
      metadataService:
        authentication: Required
      zones:
        - ap-southeast-1a
        - ap-southeast-1b
        - ap-southeast-1c
  replicas: 3
metadata:
  name: cluster
networking:
  machineCIDR: 10.0.0.0/16
  machineNetwork:
    - cidr: 10.0.0.0/16
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  serviceNetwork:
    - 172.30.0.0/16
  networkType: OVNKubernetes
platform:
  aws:
    region: ap-southeast-1
    lbType: NLB
    subnets:
      - subnet-0514624bcd6b2d8f2
      - subnet-0ac24c93c57f11506
      - subnet-02e013723f6a7d714
      - subnet-072cf43726618c586
      - subnet-0aa7310e89265208b
      - subnet-0b8962caa7a41da56
    userTags:
      Stack: project ocp4-cluster-d24wd
      env_type: ocp4-cluster
      guid: d24wd
      owner: unknown
      uuid: 1af092fc-2c4c-5707-818f-c7a4a7649563
publish: External
sshKey: ''
pullSecret: ''
